NODE_ENV=dev
PORT=8000
JWT_SECRET=change_this_jwt_secret

MONGO_INITDB_ROOT_USERNAME=inventory_admin
MONGO_INITDB_ROOT_PASSWORD=change_this_mongo_password
MONGO_DATABASE=inventory-management
DATABASE_URL=mongodb://inventory_admin:change_this_mongo_password@mongo:27017/inventory-management?authSource=admin

VITE_BASE_URL=http://localhost:8000/api/v1
